let mapleader=" "
nnoremap <Space> <Nop>

" Basic Settings
set scrolloff=5
set relativenumber
set number
set clipboard+=unnamedplus
set incsearch
set hlsearch
set cursorline
set showmatch
set colorcolumn=80
set breakindent
set autoindent
set smartindent
set expandtab
set smarttab
set ideamarks
set ideajoin

" Plugin Management
Plug 'machakann/vim-highlightedyank'
Plug 'preservim/nerdtree'
Plug 'easymotion/vim-easymotion'
Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
Plug 'terryma/vim-multiple-cursors'

" Remappings for efficiency
nnoremap <C-a> ggVG
noremap <C-u> <C-u>zz
noremap <C-d> <C-d>zz
noremap <leader>p \"_dP
vmap <leader>p \"_dP
vmap y ygv<Esc>
map Q gq
map <leader>tt <Action>(osmedile.intellij.stringmanip.WordsAndCamelToConstantStyleCaseAction)

" Multiple Cursors Configuration
nmap <C-n> <Plug>NextWholeOccurrence
xmap <C-n> <Plug>NextWholeOccurrence
nmap g<C-n> <Plug>NextOccurrence
xmap g<C-n> <Plug>NextOccurrence
xmap <C-x> <Plug>SkipOccurrence
xmap <C-p> <Plug>RemoveOccurrence

" Note that the default <A-n> and g<A-n> shortcuts don't work on Mac due to dead keys.
" <A-n> is used to enter accented text e.g. ñ
" Feel free to pick your own mappings that are not affected. I like to use <leader>
nmap <leader><C-n> <Plug>AllWholeOccurrences
xmap <leader><C-n> <Plug>AllWholeOccurrences
nmap <leader>g<C-n> <Plug>AllOccurrences
xmap <leader>g<C-n> <Plug>AllOccurrences

" Swap ; and : in Normal mode
nnoremap ; :
nnoremap : ;

" Swap ; and : in Visual mode
vnoremap ; :
vnoremap : ;
